.gsp{
  border: 2px solid black;
  text-align: center;
  background-color: #ccc;
}
.playerparent{
  border: 2px solid black;
  height: 600px;
  width: 100%;
}
.playerbox{
  margin: 10px;
  height: 155px;
  width: 30%;
  border-bottom: none;
  border-left: none;
  float:left;
}
.playername{
  border: 2px solid black;
  height: 30px;
  margin: 0px;
  width: 100%;
  border-bottom:none;
}
.playername h3{
  margin: 4px;
}
.playerpic{
  border: 2px solid black;
  height: 122px;
  margin: 0px;
  width: 100%;
  background-color: #ccc;
}
.player{
  height: 150px;
  height: 160px;
  width: 50%;
  margin: 0px;
  float: left;
}

.playerinfo{
  height: 150px;
  margin: 0px;
  width: 50%;
  float: left;
}
.gsgoals{
  border: 1px solid black;
  height: 25%;
  width: 100%;
  margin-left: 4px;
  border-top: 2px solid black;
  border-right: 2px solid black;
}
.gsgoals h4{
  margin-left: 5px;
}
.gstime{
  height: 25%;
  width: 100%;
  margin-left: 4px;
  border: 1px solid black;
  border-right: 2px solid black;
}
.gstime h3{
    margin-left: 5px;
}
.gsyears{
  border: 1px solid black;
  height: 25%;
  width: 100%;
  margin-left: 4px;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}
.gsyears h3{
    margin-left: 5px;
}
.gsother{
  border: 1px solid black;
  height: 24%;
  width: 100%;
  margin-left: 4px;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}
.gsother h4{
    margin-left: 5px;
    padding: 0px;
}

.goals{
  border: 1px solid black;
  height: 33%;
  width: 100%;
  margin-left: 4px;
  border-top: 2px solid black;
  border-right: 2px solid black;
}
.goals h4{
  margin-left: 5px;
}
.time{
  height: 33%;
  width: 100%;
  margin-left: 4px;
  border: 1px solid black;
  border-right: 2px solid black;
}
.time h3{
    margin-left: 5px;
}
.years{
  border: 1px solid black;
  height: 33%;
  width: 100%;
  margin-left: 4px;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}
.years h3{
    margin-left: 5px;
  }
