.gsp{
  border: 2px solid black;
  text-align: center;
  background-color: #ccc;
}
.playerparent{
  border: 2px solid black;
  height: 600px;
  width: 100%;
}
.playerbox{
  margin: 10px;
  height: 155px;
  width: 30%;
  border-bottom: none;
  border-left: none;
  float:left;
}
.playername{
  border: 2px solid black;
  height: 30px;
  margin: 0px;
  width: 200px;
  border-bottom:none;
}
.playername h3{
  margin: 4px;
}
.playerpic{
  border: 2px solid black;
  height: 122px;
  margin: 0px;
  width: 200px;
  background-color: #ccc;
}
.player{
  height: 150px;
  height: 160px;
  width: 200px;
  margin: 0px;
  float: left;
}

.playerinfo{
  height: 150px;
  margin: 0px;
  width: 210px;
  float: left;
}
.goals{
  border: 1px solid black;
  height: 50px;
  width: 200px;
  margin-left: 4px;
  border-top: 2px solid black;
  border-right: 2px solid black;
}
.goals h3{
  margin-left: 5px;
}
.time{
  height: 50px;
  width: 200px;
  margin-left: 4px;
  border: 1px solid black;
  border-right: 2px solid black;
}
.time h3{
    margin-left: 5px;
}
.years{
  border: 1px solid black;
  height: 50px;
  width: 200px;
  margin-left: 4px;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}
.years h3{
    margin-left: 5px;
}
