/* CSS declarations go here */
body{
  background-color: #8FBC8F;
  padding: 0px;
  margin: 0px;
}
.header h1{
  text-align: center;
}



.menu{
  margin: 0px;
  padding: 0px;
  background-color: #ffffff;
  color: #ffffff;
  height: 45px;
  width: 100%;
}
.menu ul{
  margin: 0px;
  padding: 0px;
  line-height: 45px;
}
.menu li{
  margin: 0px;
  padding: 0px;
  list-style:none;
  float:left;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 24%;
}
.menu ul li a{
  text-align: center;
  text-decoration: none;
  height: 45px;
  display: block;
}
.menu ul ul{
  position: absolute;
  display:none;
  background-color: #ccc;
  padding: 0px;
  margin: 0px;
  width:200px;
  float:left;
}
.menu ul li ul li{
  float: left;
  text-align: center;
  clear: left;
}
.menu ul li ul li a{
  width: 200px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}
.menu ul li:hover > ul{
  display: block;
}
.menu ul ul ul {
  display: none;
  background-color: #ccc;
  position: absolute;
  float: right;
  right: 200px;
  margin: 0px;
  left: 100%;
  top: 0;
  margin-left: 150px;
}




.head{
  height: 300px;
  width: 100%;
}
.parent{
  height: 100%;
  width:70%;
  background-image: url("http://www.planwallpaper.com/static/images/Cool-background-random-17506456-1869-1168.jpg");
  margin:0;
  float: left;
  border-bottom:2px solid black;
  border-top:2px solid black;
}
.child{
  width: 30%;
  height: 100%;
  border-bottom:2px solid black;
  border-top:2px solid black;
  background-color: #FF4023;
  margin:0;
  float:left;
}
.child p{
  padding-top: 20%;
  padding-bottom: 20%;
  padding-left: 10%;
  padding-right: 10%;
}


.featured{
  margin-left: 10px;
}
.featuredbox{
  border-top:2px solid black;
  border-bottom:2px solid black;
  height: 200px;
  background-color: #FF8106;
  width: 100%;
}
.featuredbox p{
  padding: 30px;
}

.upcomming{
  margin-left:10px;
}
.uparent{
  width: 75%;
  height: 200px;
}
.upcomminggame{
  border:2px solid black;
  height: 200px;
  background-color: #FFA715;
  width: 48%;
  float: left;
}
.upcomminggame h2{
  text-align: center;
}
.upcommingevent{
  border:2px solid black;
  height: 200px;
  background-color: #FFA715;
  width: 48%;
  float: left;
}
.upcommingevent h2{
  text-align: center;
}

.topteams{
  margin-left:10px;
}
.topteamsbox{
  width: 100%;
  background-color: #000000;
  height: 70px;
}
.team1{
  height: 70px;
  background-color: #FF0F00;
  width: 33.13%;
  float: left;
  border-left: 2px solid black;
}
.team1 h2{
  text-align: center;
}
