/* CSS declarations go here */
body{
  background-color: green;
  padding: 0px;
  margin: 0px;
}
.header h1{
  text-align: center;
  border-bottom: 2px solid black;
}
.nav{
  height: 45px;
  width: 100%;
  margin: auto;
  background-color: #ffffff;
  line-height: 45px;
}
.nav ul{
  padding: 0px;
  list-style: none;
}
.nav li{
    width: 24%;
    text-align: center;
    display: inline-block;
}
.nav li:hover{
  background-color: #000000;
}
.nav li:hover a{
  color: #ffffff;
}
.nav a{
  text-decoration: none;
  color: #000000;
}
.nav a:hover{
  background-color: #000000 ;
  color: #ccc;
}

.head{
  height: 300px;
  width: 100%;
}
.parent{
  height: 100%;
  width:70%;
  background-image: url("http://www.planwallpaper.com/static/images/Cool-background-random-17506456-1869-1168.jpg");
  margin:0;
  float: left;
}
.child{
  width: 30%;
  height: 100%;
  margin-top: 50px;
  margin-bottom:50px;
  background-color: #ccc;
  margin:0;
  float:left;
}
.child p{
  padding-top: 20%;
  padding-bottom: 20%;
  padding-left: 10%;
  padding-right: 10%;
}


.featured{
  margin-left: 10px;
}
.featuredbox{
  border:2px solid black;
  height: 200px;
  background-color: #ccc;
  width: 100%;
}
.featuredbox p{
  padding: 30px;
}


.trending{
  margin-left: 10px;
}
.trendingbox{
  border:2px solid black;
  height: 200px;
  background-color: #ccc;
  width: 100%;
}
.trendingbox p{
  padding:30px;
}


.uparent{
  width: 75%;
  height: 200px;
}
.upcomminggame{
  border:2px solid black;
  height: 200px;
  background-color: #ccc;
  width: 48%;
  float: left;
}
.upcomminggame h2{
  text-align: center;
}
.upcommingevent{
  border:2px solid black;
  height: 200px;
  background-color: #ccc;
  width: 48%;
  float: left;
}
.upcommingevent h2{
  text-align: center;
}
