.page1heading{
  text-align: center;
  border-bottom: 2px solid black;
}
.year{
  text-align: center;
}

.fall{
  text-align: center;
}
.fall-nav{
  height: 175px;
}

.fall-list ul{
  margin: 0px;
  padding: 0px;
  line-height: 40px;
}
.fall-list li{

  list-style: none;
  float: left;
  position: relative;
  text-align: center;
  display: inline-block;
  height: 40px;
  width: 19%;
  border: 2px solid black;
  color: #ffffff;
  background-color: #000000;
}
.fall-list li:hover{
  background-color: green;
}
.fall-list ul li a{
  text-align: center;
  text-decoration: none;
  display: block;
  height: 40px;
  color: #ffffff;
}
.fall-list ul ul{
  display: none;
  width: 100%;
}
.fall-list ul li:hover > ul{
  display: block;
}
.fall-list ul li ul li{
  width: 100%;
}


.winter{
  text-align: center;
}
.winter-nav{
  height: 175px;
}

.winter-list ul{
  margin: 0px;
  padding: 0px;
  line-height: 40px;
}
.winter-list li{

  list-style: none;
  float: left;
  position: relative;
  text-align: center;
  display: block;
  height: 40px;
  width: 19%;
  border: 2px solid black;
  color: #ffffff;
  background-color: #000000;
}
.winter-list li:hover{
  background-color: green;
}
.winter-list ul li a{
  text-align: center;
  text-decoration: none;
  display: block;
  height: 40px;
  color: #ffffff;
}
.winter-list ul ul{
  display: none;
  width: 100%;
}
.winter-list ul li:hover > ul{
  display: block;
}
.winter-list ul li ul li{
  width: 100%;
}


.spring{
  text-align: center;
}
.spring-nav{
  height: 175px;
}

.spring-list ul{
  margin: 0px;
  padding: 0px;
  line-height: 40px;
}
.spring-list li{

  list-style: none;
  float: left;
  position: relative;
  text-align: center;
  display: block;
  height: 40px;
  width: 16%;
  border: 2px solid black;
  color: #ffffff;
  background-color: #000000;
}
.spring-list li:hover{
  background-color: green;
}
.spring-list ul li a{
  text-align: center;
  text-decoration: none;
  display: block;
  height: 40px;
  color: #ffffff;
}
.spring-list ul ul{
  display: none;
  width: 100%;
}
.spring-list ul li:hover > ul{
  display: block;
}
.spring-list ul li ul li{
  width: 100%;
}
.menu{
  margin: 0px;
  padding: 0px;
  width: 100%;
  background-color: #222;
  color: #ffffff;
}
.menu ul{
  margin: 0px;
  padding: 0px;
  line-height: 30px;

}
.menu li{
  margin: 0px;
  padding: 0px;
  list-style:none;
  float:left;
  position: relative;
  text-align: center;
  text-decoration: none;
}
.menu ul li a{
  text-align: center;
  text-decoration: none;
  height: 30px;
  width: 150px;
  display: block;
}
.menu ul ul{
  position: absolute;
  display:none;
}
.menu ul li:hover ul{
  display: block;
}
