.gallary h1{
  text-align: center;
  border-bottom: 2px solid black;
}
.pics{
  text-align: center;
}
.picsparent{
  border: 2px solid black;
  height: 600px;
  margin-left: 225px;
  margin-right: 225px;
}
.picschild1{
  height: 250px;
  width: 500px;
  background-color: #ccc;
  border: 2px solid black;
  margin: 20px;
  float: left;
}
.picschild2{
  height: 250px;
  width: 300px;
  background-color: #ccc;
  border: 2px solid black;
  margin: 20px;
  float: left;
}
.picschild3{
  height: 250px;
  width: 300px;
  background-color: #ccc;
  border: 2px solid black;
  margin: 20px;
  float: left;
}
.picschild4{
  height: 250px;
  width: 500px;
  background-color: #ccc;
  border: 2px solid black;
  margin: 20px;
  float: left;
}


.vids{
  text-align: center;
  margin-top: 40px;
}


.table{
  height: 100px;
  width: 150px;
}
