.gallary h1{
  text-align: center;
  border-bottom: 2px solid black;
}
.pics{
  text-align: center;
}
.picsparent{
  border: 2px solid black;
  height: 600px;
}
.picschild1{
  height: 250px;
  width: 250px;
  background-color: #ccc;
  border: 2px solid black;
  margin: 20px;
  float: left;
}
.picschild2{
  height: 250px;
  width: 250px;
  background-color: #ccc;
  border: 2px solid black;
  margin: 20px;
  float: left;
}
.picschild3{
  height: 250px;
  width: 250px;
  background-color: #ccc;
  border: 2px solid black;
  margin: 20px;
  float: left;
}
.picschild4{
  height: 250px;
  width: 250px;
  background-color: #ccc;
  border: 2px solid black;
  margin: 20px;
  float: left;
}
.picschild5{
  height: 250px;
  width: 250px;
  background-color: #ccc;
  border: 2px solid black;
  margin: 20px;
  float: left;
}
.picschild6{
  height: 250px;
  width: 250px;
  background-color: #ccc;
  border: 2px solid black;
  margin: 20px;
  float: left;
}
.picschild7{
  height: 250px;
  width: 250px;
  background-color: #ccc;
  border: 2px solid black;
  margin: 20px;
  float: left;
}
.picschild8{
  height: 250px;
  width: 250px;
  background-color: #ccc;
  border: 2px solid black;
  margin: 20px;
  float: left;
}


.vids{
  text-align: center;
  margin-top: 40px;
}
.vidsparent{
  height: 675px;
  border: 2px solid black;
}
.vidschild1{
  height: 250px;
  width: 250px;
  background-color: #ccc;
  border: 2px solid black;
  margin: 20px;
  float: left;
}
.vidschild2{
  height: 250px;
  width: 250px;
  background-color: #ccc;
  border: 2px solid black;
  margin: 20px;
  float: left;
}
.vidschild3{
  height: 250px;
  width: 250px;
  background-color: #ccc;
  border: 2px solid black;
  margin: 20px;
  float: left;
}
.vidschild4{
  height: 250px;
  width: 250px;
  background-color: #ccc;
  border: 2px solid black;
  margin: 20px;
  float: left;
}
.vidschild5{
  height: 250px;
  width: 250px;
  background-color: #ccc;
  border: 2px solid black;
  margin: 20px;
  float: left;
}
.vidschild6{
  height: 250px;
  width: 250px;
  background-color: #ccc;
  border: 2px solid black;
  margin: 20px;
  float: left;
}
.vidschild7{
  height: 250px;
  width: 250px;
  background-color: #ccc;
  border: 2px solid black;
  margin: 20px;
  float: left;
}
.vidschild8{
  height: 250px;
  width: 250px;
  background-color: #ccc;
  border: 2px solid black;
  margin: 20px;
  float: left;
}

.table{
  height: 100px;
  width: 150px;
}
