label{
  width:60%;
  margin-left:20%;
  margin-right:20%;
}
input[type=text]{
  width:60%;
  margin-left:20%;
  margin-right:20%;
  border: 1px solid #ccc;
  border-radius: 4px;
}
button[type=submit]{
  background-color: #4CAF50;
  color: white;
  width:60%;
  margin-left:20%;
  margin-right:20%;
  border: none;
  border-radius: 4px;
}
button[type=submit]:hover {
    background-color: #45a049;
}
form{
  width:60%;
  margin-left:20%;
  margin-right:20%;
  border:1px solid #ccc;
  background-color: #ccc;
  height:200px;
}
