<template name="Bindoortrack">
    <div class="bshead">
        <h1>Boys Indoor Track</h1>
    </div>
    <div class="ranks clearfix">
        <div class="state">
            <div class="statehead">
                <h2>State Rank</h2>
            </div>
            <div class="statestat">
                {{#if teams}}
                {{#each team in teams}}
                <h2>{{team.state}}</h2>
                {{/each}}
                {{/if}}
            </div>
        </div>
        <div class="FCIAC">
            <div class="FCIAChead">
                <h2>FCIAC Rank</h2>
            </div>
            <div class="FCIACstat">
                {{#if teams}}
                {{#each team in teams}}
                <h2>{{team.fciac}}</h2>
                {{/each}}
                {{/if}}
            </div>
        </div>
    </div>
    <div class="bsmidpage clearfix">
        <div class="bsteamT">
            <div class="bscoach">
                <h2>Coach:  Mastriani</h2>
            </div>
            <div class="bsrosterT">
                <h2>Roster</h2>
                <div class="table">
                    <table>
                        <tr>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th>five</th>
                            <th>one</th>
                            <th>two</th>
                            <th>300</th>
                            <th>400</th>
                            <th>800</th>
                            <th>mile</th>
                            <th>2 mile</th>
                            <th>Long Jump</th>
                            <th>High Jump</th>
                            <th>Tripple Jump</th>
                            <th>pole volt</th>
                        </tr>
                        {{#if players}}
                        {{#each player in players}}
                        <tr>
                            <td>{{player.firstNameTrack}}</td>
                            <td>{{player.lastNameTrack}}</td>
                            <td>{{player.five}}</td>
                            <td>{{player.one}}</td>
                            <td>{{player.two}}</td>
                            <td>{{player.three}}</td>
                            <td>{{player.four}}</td>
                            <td>{{player.eight}}</td>
                            <td>{{player.oneMile}}</td>
                            <td>{{player.twoMile}}</td>
                            <td>{{player.longJump}}</td>
                            <td>{{player.highJump}}</td>
                            <td>{{player.trippleJump}}</td>
                            <td>{{player.pole}}</td>
                        </tr>
                        {{/each}}
                        {{/if}}
                    </table>
                </div>
            </div>
        </div>
    </div>
        <div class="bsstats clearfix">
            <div class="bswonstats">
                <div class="bswon">
                    <h2>Wins</h2>
                </div>
                <div class="bswonnum">
                    {{#if teams}}
                    {{#each team in teams}}
                    <h2>{{team.wins}}</h2>
                    {{/each}}
                    {{/if}}
                </div>
            </div>
            <div class="bsloststats">
                <div class="bslost">
                    <h2>Lost</h2>
                </div>
                <div class="bslostnum">
                    {{#if teams}}
                    {{#each team in teams}}
                    <h2>{{team.loses}}</h2>
                    {{/each}}
                    {{/if}}
                </div>
            </div>
            <div class="bstiedstats">
                <div class="bstied">
                    <h2>Tied</h2>
                </div>
                <div class="bstiednum">
                    {{#if teams}}
                    {{#each team in teams}}
                    <h2>{{team.ties}}</h2>
                    {{/each}}
                    {{/if}}
                </div>
            </div>
        </div>
    </template>
