<template name="Bsoccer">
  <div class="bshead">
    <h1>Boys Soccer</h1>
  </div>
  <div class="ranks">
    <div class="state">
      <div class="statehead">
        <h2>State Rank</h2>
      </div>
      <div class="statestat">
        <h2>46</h2>
      </div>
    </div>
    <div class="FCIAC">
      <div class="FCIAChead">
        <h2>FCIAC Rank</h2>
      </div>
      <div class="FCIACstat">
        <h2>10</h2>
      </div>
    </div>
  </div>
  <div class="piecharts">
    <h1>Where pie charts will be located</h1>
  </div>
  <div class="bsmidpage">
    <div class="bsteam">
      <div class="bscoach">
        <h2>Coach:  Laugthen</h2>
      </div>
      <div class="bsroster">
        <ul>
          <li><a href="bsoccerplayers">Roster</a></li>
        </ul>
        <table border="1px;">
          <tr>
            <th>Player Name</th>
            <th>Stat</th>
            <th>Stat</th>
            <th>Stat</th>
          </tr>
          <tr>
            <td>player 1</td>
            <td>####</td>
            <td>####</td>
            <td>####</td>
          </tr>
          <tr>
            <td>player 1</td>
            <td>####</td>
            <td>####</td>
            <td>####</td>
          </tr>
          <tr>
            <td>player 1</td>
            <td>####</td>
            <td>####</td>
            <td>####</td>
          </tr>
          <tr>
            <td>player 1</td>
            <td>####</td>
            <td>####</td>
            <td>####</td>
          </tr>
          <tr>
            <td>player 1</td>
            <td>####</td>
            <td>####</td>
            <td>####</td>
          </tr>
          <tr>
            <td>player 1</td>
            <td>####</td>
            <td>####</td>
            <td>####</td>
          </tr>
          <tr>
            <td>player 1</td>
            <td>####</td>
            <td>####</td>
            <td>####</td>
          </tr>
          <tr>
            <td>player 1</td>
            <td>####</td>
            <td>####</td>
            <td>####</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="bsimage">
      <img src="http://ww4.hdnux.com/photos/47/44/23/10372299/5/rawImage.jpg" height="305px;" width="450px;">
    </div>
  </div>

  <div class="bsstats">
    <div class="bswonstats">
      <div class="bswon">
        <h2>Wins</h2>
      </div>
      <div class="bswonnum">
        <h2>2</h2>
      </div>
    </div>
    <div class="bsloststats">
      <div class="bslost">
        <h2>Lost</h2>
      </div>
      <div class="bslostnum">
        <h2>5</h2>
      </div>
    </div>
    <div class="bstiedstats">
      <div class="bstied">
        <h2>Tied</h2>
      </div>
      <div class="bstiednum">
        <h2>1</h2>
      </div>
    </div>
  </div>
</template>
