<template name="Bsoccer">
    <div class="bshead">
        <h1>Boys Soccer</h1>
    </div>
    <div class="ranks">
        <div class="state">
            <div class="statehead">
                <h2>State Rank</h2>
            </div>
            <div class="statestat">
                {{#if teams}}
                {{#each team in teams}}
                <h2>{{team.state}}</h2>
                {{/each}}
                {{/if}}
            </div>
        </div>
        <div class="FCIAC">
            <div class="FCIAChead">
                <h2>FCIAC Rank</h2>
            </div>
            <div class="FCIACstat">
                {{#if teams}}
                {{#each team in teams}}
                <h2>{{team.fciac}}</h2>
                {{/each}}
                {{/if}}
            </div>
        </div>
    </div>
    <div class="piecharts">
        <h1>Where pie charts will be located</h1>
    </div>
    <div class="bsmidpage">
        <div class="bsteam">
            <div class="bscoach">
                <h2>Coach:  Laugthen</h2>
            </div>
            <div class="bsroster">
                <h2>Roster</h2>
                <div class="table">
                <table>
                    <tr>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Goals</th>
                        <th>Assits</th>
                    </tr>
                    {{#if players}}
                    {{#each player in players}}
                    <tr>
                        <td>{{player.firstName}}</td>
                        <td>{{player.lastName}}</td>
                        <td>{{player.goals}}</td>
                        <td>{{player.assits}}</td>
                    </tr>
                    {{/each}}
                    {{/if}}
                </table>
            </div>
            </div>
        </div>
        <div class="bsimage">
            <img src="http://ww4.hdnux.com/photos/47/44/23/10372299/5/rawImage.jpg" height="305px;" width="450px;">
        </div>
    </div>

    <div class="bsstats">
        <div class="bswonstats">
            <div class="bswon">
                <h2>Wins</h2>
            </div>
            <div class="bswonnum">
                {{#if teams}}
                {{#each team in teams}}
                <h2>{{team.wins}}</h2>
                {{/each}}
                {{/if}}
            </div>
        </div>
        <div class="bsloststats">
            <div class="bslost">
                <h2>Lost</h2>
            </div>
            <div class="bslostnum">
                {{#if teams}}
                {{#each team in teams}}
                <h2>{{team.loses}}</h2>
                {{/each}}
                {{/if}}
            </div>
        </div>
        <div class="bstiedstats">
            <div class="bstied">
                <h2>Tied</h2>
            </div>
            <div class="bstiednum">
                {{#if teams}}
                {{#each team in teams}}
                <h2>{{team.ties}}</h2>
                {{/each}}
                {{/if}}
            </div>
        </div>
    </div>
</template>
