<template name="Page1">
  <h1 class="page1heading">Teams</h1>
  {{> Navigation}}
  <div class="year">
    <h2>2016-2017</h2>
  </div>
  <hr/>
  <div class="fall">
    <h2>Fall Sports</h2>
  </div>
  <div class="fall-nav">
    <div class="fall-list">
    <ul>
      <li>Soccer
        <ul>
          <li><a href="/bsoccer">Boys</a></li>
          <li><a href="/gsoccer">Girls</a></li>
        </ul>
      </li>
      <li><a href="football">Football</a></li>
      <li><a href="fieldhockey">Field Hockey</a></li>
      <li><a href="volleyball">Vollyball</a></li>
      <li>Cross Country
        <ul>
          <li><a href="bcrosscountry">Boys</a></li>
          <li><a href="gcrosscountry">Girls</a></li>
        </ul>
      </li>
    </ul>
    </div>
</div>
<hr />
<div class="winter">
  <h2>Winter Sports</h2>
</div>
<div class="winter-nav">
  <div class="winter-list">
  <ul>
    <li>Basketball
      <ul>
        <li><a href="bbasketball">Boys</a></li>
        <li><a href="gbasketball">Girls</a></li>
      </ul>
    </li>
    <li>Indoor Track
      <ul>
        <li><a href="bindoortrack">Boys</a></li>
        <li><a href="gindoortrack">Girls</a></li>
      </ul>
    </li>
    <li>Swimming
      <ul>
        <li><a href="bswimming">Boys</a></li>
        <li><a href="gswimming">Girls</a></li>
      </ul>
    </li>
    <li><a href="hockey">Hockey</a></li>
    <li><a href="wrestiling">Wrestling</a></li>
  </ul>
  </div>
</div>
<hr />
<div class="spring">
  <h2>Spring Sports</h2>
</div>
<div class="spring-nav">
  <div class="spring-list">
  <ul>
    <li><a href="baseball">Baseball</a></li>
    <li><a href="softball">Softball</a></li>
    <li>Outdoor Track
      <ul>
        <li><a href="boutdoortrack">Boys</a></li>
        <li><a href="goutdoortrack">Girls</a></li>
      </ul>
    </li>
    <li>Lacrosse
      <ul>
        <li><a href="blacrosse">Boys</a></li>
        <li><a href="glacrosse">Girls</a></li>
      </ul>
    </li>
    <li>Tennis
      <ul>
        <li><a href="btennis">Boys</a></li>
        <li><a href="gtennis">Girls</a></li>
      </ul>
    </li>
    <li><a href="golf">Golf</a></li>
  </ul>
  </div>
</div>
<hr/>
</template>
