<template name="Page3">
    <div class="nav">
  {{> Navigation}}
  </div>
  <div class="header">
    <h1>About</h1>
  </div>
  <h1>players</h1>
  <div class="h">
      <div class="a">
          <p>random random random random random random random random random
          random random random random random random random random random
          random random random random random random random random random\
          random random random random random random random random random
          </p>
      </div>
  </div>
</template>
