<template name="Players">
    <form>
      <label for="firstName">First Name</label>
      <input type="text" id="firstName" required="true">

      <label for="lastName">Last Name</label>
      <input type="text" id="lastName" required="true" width="100%;">

      <label for="goals">Goals</label>
      <input type="text" id="goals" required="true" width="100%;">

      <label for="assits">Assits</label>
      <input type="text" id="assits" required="true" width="100%;">

      <label for="avgdrive">Average Drive</label>
      <input type="text" id="avgdrive" required="true">

      <label for="sport">Sport</label>
      <input type="text" id="sport" required="true" width="100%;">

      <button type="submit">Add Player</button>
    </form>
  </template>
