<template name="Softball">
    <div class="bshead">
        <h1>Softball</h1>
    </div>
    <div class="ranks clearfix">
        <div class="state">
            <div class="statehead">
                <h2>State Rank</h2>
            </div>
            <div class="statestat">
                {{#if teams}}
                {{#each team in teams}}
                <h2>{{team.state}}</h2>
                {{/each}}
                {{/if}}
            </div>
        </div>
        <div class="FCIAC">
            <div class="FCIAChead">
                <h2>FCIAC Rank</h2>
            </div>
            <div class="FCIACstat">
                {{#if teams}}
                {{#each team in teams}}
                <h2>{{team.fciac}}</h2>
                {{/each}}
                {{/if}}
            </div>
        </div>
    </div>
    <div class="piecharts">
    </div>
    <div class="bsmidpage clearfix">
        <div class="bsteam">
            <div class="bscoach">
                <h2>Coach: Surace</h2>
            </div>
            <div class="bsroster">
                <h2><a href="gsoccerplayers">Roster</a></h2>
                <div class="table">
                    <table>
                        <tr>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th>Batting Average</th>
                            <th>Runs</th>
                        </tr>
                        {{#if players}}
                        {{#each player in players}}
                        <tr>
                            <td>{{player.firstNameSo}}</td>
                            <td>{{player.lastNameSo}}</td>
                            <td>{{player.battingS}}</td>
                            <td>{{player.runsS}}</td>
                        </tr>
                        {{/each}}
                        {{/if}}
                    </table>
                </div>
            </div>
        </div>
        <div class="bsimage">
            <img src="" height="100%;"
            width="100%;">
        </div>
    </div>

    <div class="bsstats clearfix">
        <div class="bswonstats">
            <div class="bswon">
                <h2>Wins</h2>
            </div>
            <div class="bswonnum">
                {{#if teams}}
                {{#each team in teams}}
                <h2>{{team.wins}}</h2>
                {{/each}}
                {{/if}}
            </div>
        </div>
        <div class="bsloststats">
            <div class="bslost">
                <h2>Lost</h2>
            </div>
            <div class="bslostnum">
                {{#if teams}}
                {{#each team in teams}}
                <h2>{{team.loses}}</h2>
                {{/each}}
                {{/if}}
            </div>
        </div>
        <div class="bstiedstats">
            <div class="bstied">
                <h2>Tied</h2>
            </div>
            <div class="bstiednum">
                {{#if teams}}
                {{#each team in teams}}
                <h2>{{team.ties}}</h2>
                {{/each}}
                {{/if}}
            </div>
        </div>
    </div>
</template>
