<template name="Teams">
  <form>
    <label for="school">school</label>
    <input type="text" id="school" required="true">

    <label for="sport">sport</label>
    <input type="text" id="sport" required="true">

    <label for="wins">wins</label>
    <input type="text" id="wins" required="true">

    <label for="loses">loses</label>
    <input type="text" id="loses" required="true">

    <label for="ties">ties</label>
    <input type="text" id="ties" required="true">

    <label for="fciac">fciac</label>
    <input type="text" id="fciac" required="true">

    <label for="state">state</label>
    <input type="text" id="state" required="true">

    <button type="submit">Add Team</button>
  </form>
</template>
