label{
  width:60%;
  margin-left:20%;

}
input[type=text]{
  width:60%;
  margin-left:20%;
  margin-right:20%;
  border: 1px solid #ccc;
  border-radius: 4px;
}
button[type=submit]{
  background-color: #5E72BF;
  color: white;
  width:60%;
  margin-left:20%;
  margin-right:20%;
  margin-top:10px;
  border: none;
  border-radius: 4px;
}
button[type=submit]:hover {
    background-color: #5E72BF;
}
form{
  width:60%;
  margin-left:20%;
  margin-right:20%;
  border:1px solid #ccc;
  background-color: #ccc;
  margin-top:10px;
  border-radius: 4px;
}
#sportTrack{
    margin-right:30%;
    margin-left:20%;
}
#sportT{
    margin-right:30%;
    margin-left:20%;
}
#sport{
    margin-right:30%;
    margin-left:20%;
}
