<template name="Base">
    <form>
        <h2>Baseball</h2>
        <label for="sportBa">Sport</label>
        <input type="text" id="sportBa" required="true">

        <label for="firstNameBa">First Name</label>
        <input type="text" id="firstNameBa" required="true">

        <label for="lastNameBa">Last Name</label>
        <input type="text" id="lastNameBa" required="true">

        <label for="batting">Batting Avergae</label>
        <input type="text" id="batting" required="true">

        <label for="runs">Home Runs</label>
        <input type="text" id="runs" required="true">

        <button type="submit">Add Player</button>
    </form>
</template>
