<template name="Basketplayers">
    <h2>Basketball</h2>
    <form>
    <label for="sportB">Sport</label>
    <select name="sportB" id="sportB" required>
        <option value="boys basketball">Boys basketball</option>
        <option value="girls basketball">Girls basketball</option>
    </select>

      <label for="firstNameB">First Name</label>
      <input type="text" id="firstNameB" required="true">

      <label for="lastNameB">Last Name</label>
      <input type="text" id="lastNameB" required="true">

      <label for="positionB">Position</label>
      <input type="text" id="positionB" required="true">

      <label for="pointsB">Points</label>
      <input type="text" id="pointsB" required="true">

      <button type="submit">Add Player</button>
    </form>
</template>
