<template name="Field">
    <form>
    <label for="sportFi">Sport</label>
    <select name="sportFi" id="sportFi" required>
        <option value="fieldhockey">Fieldhockey</option>
    </select>

      <label for="firstNameFi">First Name</label>
      <input type="text" id="firstNameFi" required="true">

      <label for="lastNameFi">Last Name</label>
      <input type="text" id="lastNameFi" required="true">

      <label for="grade">Grade</label>
      <input type="text" id="grade" required="true">

      <label for="height">Height</label>
      <input type="text" id="height" required="true">

      <button type="submit">Add Player</button>
    </form>
</template>
