<template name="Footbal">
    <h2>Football</h2>
    <form>
        <label for="sportF">Sport</label>
        <select name="sportF" id="sportF" required>
            <option value="football">Football</option>
        </select>

        <label for="firstNameF">First Name</label>
        <input type="text" id="firstNameF" required="true">

        <label for="lastNameF">Last Name</label>
        <input type="text" id="lastNameF" required="true">

        <label for="positionF">Position</label>
        <input type="text" id="positionF" required="true">

        <label for="reciving">Receving Yards</label>
        <input type="text" id="reciving" required="true">

        <label for="rush">Rushing Yards</label>
        <input type="text" id="rush" required="true">

        <label for="td">Touch Downs</label>
        <input type="text" id="td" required="true">

        <label for="tackels">Tackels</label>
        <input type="text" id="tackels" required="true">

        <label for="sacks">Sacks</label>
        <input type="text" id="sacks" required="true">


        <button type="submit">Add Player</button>
    </form>
</template>
