<template name="Hoc">
    <h2>Golf</h2>
    <form>
        <label for="firstNameH">First Name</label>
        <input type="text" id="firstNameH" required="true">

        <label for="lastNameH">Last Name</label>
        <input type="text" id="lastNameH" required="true">

        <label for="positionH">Position</label>
        <input type="text" id="positionH" required="true">

        <label for="goalsH">Goals</label>
        <input type="text" id="goalsH" required="true">

        <label for="sportH">Sport</label>
        <input type="text" id="sportH" required="true">

        <button type="submit">Add Player</button>
    </form>
</template>
