<template name="Laxupdate">
    <form>


      <label for="firstNameL">First Name</label>
      <input type="text" id="firstNameL" required="true">

      <label for="lastNameL">Last Name</label>
      <input type="text" id="lastNameL" required="true">

      <label for="positionL">Position</label>
      <input type="text" id="positionL" required="true">

      <label for="goalsL">Goals</label>
      <input type="text" id="goalsL" required="true">

      <label for="assitsL">Assits</label>
      <input type="text" id="assitsL" required="true">

      <button type="submit">Add Player</button>
    </form>
</template>
