<template name="Players">
<div class="input">
    <form>
    <label for="sport">Sport</label>
    <select name="sport" id="sport" required>
        <option value="boys soccer">Boys Soccer</option>
        <option value="girls soccer">Girls Soccer</option>
        <option value="fieldhockey">Fieldhockey</option>
    </select>

      <label for="firstName">First Name</label>
      <input type="text" id="firstName" required="true">

      <label for="lastName">Last Name</label>
      <input type="text" id="lastName" required="true" width="100%;">

      <label for="position">Position</label>
      <input type="text" id="position" required="true">

      <label for="goals">Goals</label>
      <input type="text" id="goals" required="true" width="100%;">

      <label for="assits">Assits</label>
      <input type="text" id="assits" required="true" width="100%;">

      <button type="submit">Add Player</button>
    </form>

    <h2>Football</h2>
    <form>
        <label for="sportF">Sport</label>
        <input type="text" id="sportF" required="true">

        <label for="firstNameF">First Name</label>
        <input type="text" id="firstNameF" required="true">

        <label for="lastNameF">Last Name</label>
        <input type="text" id="lastNameF" required="true">

        <label for="positionF">Position</label>
        <input type="text" id="positionF" required="true">

        <label for="reciving">Receving Yards</label>
        <input type="text" id="reciving" required="true">

        <label for="rush">Rushing Yards</label>
        <input type="text" id="rush" required="true">

        <label for="td">Touch Downs</label>
        <input type="text" id="td" required="true">

        <label for="tackels">Tackels</label>
        <input type="text" id="tackels" required="true">

        <label for="sacks">Sacks</label>
        <input type="text" id="sacks" required="true">

        <label for="inter">Interseptions</label>
        <input type="text" id="inter" required="true">

        <button type="submit">Add Player</button>
    </form>

    <h2>Volleyball</h2>
    <form>
        <label for="firstNameV">First Name</label>
        <input type="text" id="firstNameV" required="true">

        <label for="lastNameV">Last Name</label>
        <input type="text" id="lastNameV" required="true">

        <label for="kills">Kills</label>
        <input type="text" id="kills" required="true">

        <label for="points">Points</label>
        <input type="text" id="points" required="true">

        <label for="assitsV">Assits</label>
        <input type="text" id="assitsV" required="true">

        <label for="sportV">Sport</label>
        <input type="text" id="sportV" required="true">

        <button type="submit">Add Player</button>
    </form>

    <h2>Golf</h2>
    <form>
        <label for="firstNameGolf">First Name</label>
        <input type="text" id="firstNameGolf" required="true">

        <label for="lastNameGolf">Last Name</label>
        <input type="text" id="lastNameGolf" required="true">

        <label for="avgdrive">Average Drive</label>
        <input type="text" id="avgdrive" required="true">

        <label for="sportGolf">Sport</label>
        <input type="text" id="sportGolf" required="true">

        <button type="submit">Add Player</button>
    </form>

    <h2>Tennis</h2>
    <form>
        <label for="sportT">Sport</label>
        <select name="sportT" id="sportT" required>
            <option value="boys tennis">Boys Tennis</option>
        </select>

        <label for="firstNameT">First Name</label>
        <input type="text" id="firstNameT" required="true">

        <label for="lastNameT">Last Name</label>
        <input type="text" id="lastNameT" required="true">

        <label for="won">Wins</label>
        <input type="text" id="won" required="true">

        <button type="submit">Add Player</button>
    </form>

    <h2>Track</h2>
    <form>
      <label for="sportTrack">sport</label>
      <select name="sportTrack" id="sportTrack" required>
          <option value="boy outdoor track">Boys Outdoor Track</option>
          <option value="girls outdoor track">Girls Outdoor Track</option>
          <option value="boys indoor track">Boys Indoor Track</option>
          <option value="girls indoor track">Girls Indoor Track</option>
      </select>

      <label for="firstNameTrack">First Name</label>
      <input type="text" id="firstNameTrack" required="true">

      <label for="lastNameTrack">Last Name</label>
      <input type="text" id="lastNameTrack" required="true">

      <label for="five">five</label>
      <input type="text" id="five" required="true">

      <label for="one">one</label>
      <input type="text" id="one" required="true">

      <label for="two">two</label>
      <input type="text" id="two" required="true">

      <label for="three">300 time</label>
      <input type="text" id="three" required="true">

      <label for="four">400 time</label>
      <input type="text" id="four" required="true">

      <label for="eight">800 time</label>
      <input type="text" id="eight" required="true">

      <label for="oneMile">one mile time</label>
      <input type="text" id="oneMile" required="true">

      <label for="twoMile">two mile time</label>
      <input type="text" id="twoMile" required="true">

      <label for="longJump">Long Jump</label>
      <input type="text" id="longJump" required="true">

      <label for="highJump">High Jump</label>
      <input type="text" id="highJump" required="true">

      <label for="trippleJump">Tripple Jump</label>
      <input type="text" id="trippleJump" required="true">

      <label for="pole">Pole Volt</label>
      <input type="text" id="pole" required="true">

      <label for="shortput">Shortput</label>
      <input type="text" id="shortput" required="true">

      <label for="discces">Discces</label>
      <input type="text" id="discces" required="true">

      <label for="javulin">Javulin</label>
      <input type="text" id="javulin" required="true">

      <button type="submit">Add Player</button>
    </form>

</div>
  </template>
