<template name="Soccer">
    <form>
    <label for="sport">Sport</label>
    <select name="sport" id="sport" required>
        <option value="boys soccer">Boys Soccer</option>
        <option value="girls soccer">Girls Soccer</option>
        <option value="fieldhockey">Fieldhockey</option>
    </select>

      <label for="firstName">First Name</label>
      <input type="text" id="firstName" required="true">

      <label for="lastName">Last Name</label>
      <input type="text" id="lastName" required="true" width="100%;">

      <label for="position">Position</label>
      <input type="text" id="position" required="true">

      <label for="goals">Goals</label>
      <input type="text" id="goals" required="true" width="100%;">

      <label for="assits">Assits</label>
      <input type="text" id="assits" required="true" width="100%;">

      <button type="submit">Add Player</button>
    </form>
</template>
