<template name="Soft">
    <form>
        <label for="firstNameSo">First Name</label>
        <input type="text" id="firstNameSo" required="true">

        <label for="lastNameSo">Last Name</label>
        <input type="text" id="lastNameSo" required="true">

        <label for="battingS">Batting Average</label>
        <input type="text" id="battingS" required="true">

        <label for="runsS">Runs</label>
        <input type="text" id="runsS" required="true">

        <label for="sportSo">Sport</label>
        <input type="text" id="sportSo" required="true">
    
        <button type="submit">Add Player</button>
    </form>
</template>
