<template name="Ten">
    <form>
        <label for="sportT">Sport</label>
        <select name="sportT" id="sportT" required>
            <option value="boys tennis">Boys Tennis</option>
            <option value="girls tennis">girls Tennis</option>
        </select>

        <label for="firstNameT">First Name</label>
        <input type="text" id="firstNameT" required="true">

        <label for="lastNameT">Last Name</label>
        <input type="text" id="lastNameT" required="true">

        <label for="won">Wins</label>
        <input type="text" id="won" required="true">

        <button type="submit">Add Player</button>

    </form>
</template>
