<template name="Updateplayer">
    <form>
      <label for="firstName">First Name</label>
      <input type="text" id="firstName" required="true">

      <label for="lastName">Last Name</label>
      <input type="text" id="lastName" required="true" width="100%;">

      <label for="goals">Goals</label>
      <input type="text" id="goals" required="true" width="100%;">

      <label for="assits">Assits</label>
      <input type="text" id="assits" required="true" width="100%;">

      <label for="sport">Sport</label>
      <select name="sport" id="sport" required>
          <option value="boysSoccer">Boys Soccer</option>
          <option value="football">Football</option>
      </select>

      <button type="submit">Update Player</button>
    </form>

    <form>
        <label for="firstNameGolf">First Name</label>
        <input type="text" id="firstNameGolf" required="true">

        <label for="lastNameGolf">Last Name</label>
        <input type="text" id="lastNameGolf" required="true">

        <label for="avgdrive">Average Drive</label>
        <input type="text" id="avgdrive" required="true">

        <label for="sportGolf">Sport</label>
        <input type="text" id="sportGolf" required="true">

        <button type="submit">Add Player</button>
    </form>
</template>
