<template name="Volley">
    <h2>Volleyball</h2>
    <form>
        <label for="firstNameV">First Name</label>
        <input type="text" id="firstNameV" required="true">

        <label for="lastNameV">Last Name</label>
        <input type="text" id="lastNameV" required="true">

        <label for="positionV">Position</label>
        <input type="text" id="positionV" required="true">

        <label for="gradeV">Grade</label>
        <input type="text" id="gradeV" required="true">

        <label for="sportV">Sport</label>
        <input type="text" id="sportV" required="true">

        <button type="submit">Add Player</button>
    </form>
</template>
