<template name="Wrest">
    <form>
        <label for="firstNameW">First Name</label>
        <input type="text" id="firstNameW" required="true">

        <label for="lastNameW">Last Name</label>
        <input type="text" id="lastNameW" required="true">

        <label for="weightW">Weight</label>
        <input type="text" id="weightW" required="true">

        <label for="winsW">Wins</label>
        <input type="text" id="winsW" required="true">

        <label for="sportW">Sport</label>
        <input type="text" id="sportW" required="true">

        <button type="submit">Add Player</button>
    </form>
</template>
