<template name="Navigation">
  <div class="wrap">
  <div class="menu">
    <ul>

      <li><a href="/">Home</a></li>
      <li><a href="/page1">Teams</a>
        <ul>
          <li><a href="#">Fall</a>
            <ul>
              <li><a href="/bsoccer">Boys Soccer</a></li>
              <li><a href="/gsoccer">Girls Soccer</a></li>
              <li><a href="football">Football</a></li>
              <li><a href="fieldhockey">Field Hockey</a></li>
              <li><a href="volleyball">Volleyball</a></li>
              <li><a href="bcrosscountry">Boys Cross Country</a></li>
              <li><a href="gcrosscountry">Girls Cross Country</a></li>
            </ul>
          </li>
          <li><a href="#">Winter</a>
            <ul>
              <li><a href="bbasketball">Boys Basketball</a></li>
              <li><a href="gbasketball">Girls Basketball</a></li>
              <li><a href="bindoortrack">Boys Inddor Track</a></li>
              <li><a href="gindoortrack">Girls Inddor Track</a></li>
              <li><a href="bswimming">Boys Swimming</a></li>
              <li><a href="gswimming">Girls Swimming</a></li>
              <li><a href="hockey">Hockey</a></li>
              <li><a href="wrestiling">Wrestling</a></li>
            </ul>
          </li>
          <li><a href="#">Spring</a>
            <ul>
              <li><a href="baseball">Baseball</a></li>
              <li><a href="softball">Softball</a></li>
              <li><a href="boutdoortrack">Boys Track</a></li>
              <li><a href="goutdoortrack">Girls Track</a></li>
              <li><a href="blacrosse">Boys Lacrosse</a></li>
              <li><a href="glacrosse">Girls Lacrosse</a></li>
              <li><a href="btennis">Boys Tennis</a></li>
              <li><a href="gtennis">Girls Tennis</a></li>
              <li><a href="golf">Golf</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li><a href="/page2">Gallary</a></li>
      <li><a href="/page3">About</a></li>
      <li>{{> loginButtons}}</li>
    </ul>
  </div>
  <div class="sign">
      <div class="nav1">
      </div>
      <div class="nav2">
      </div>
      <div class="nav3">
      </div>
      <div class="nav4">
      </div>
  </div>
</div>
</template>
